@font-face {
    font-family: "Archivo Black";
    src: url(../fonts/fonts/ArchivoBlack-Regular.woff) format(woff),
         url(../fonts/fonts/ArchivoBlack-Regular.woff2) format(woff2);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/fonts/OpenSans-Regular.woff) format(woff),
        url(../fonts/fonts/OpenSans-Regular.woff2) format(woff2);
}  

@font-face {
    font-family: 'Open Sans Semi';
    src: url(../fonts/fonts/OpenSans-SemiBold.woff) format(woff),
        url(../fonts/fonts/OpenSans-SemiBold.woff2) format(woff2);
} 

body{
    margin: 0;
    background-color: #111111;
    
}
header, main, footer{
padding: 40px 8.33% 0 8.33%;
}
header{
    background: radial-gradient(
        circle at 75% 50%,
        #6D6DFF 0%,
        #111111 30%
    );
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.main-title, .second-title, .third-title{
    font-family: 'Archivo Black';
    color: #ffffff;
    
}

.main-title{
    font-size: 72px;
}
.profile-skills-text, .website-text, .website-links-urls, .project-link-url, .project-info-links{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 18px;

}

.profile-skills-text{
    opacity: 50%;
}



.profile-image{
    width: 450px;
    height: 450px;
}

.profile-link{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 30px 0 0 0;
}
.profile-links-urls, .project-link-url{
    text-decoration: none;
}

.skills{
    margin: 110px 0 0 0;
}

.second-title{
    font-size: 40px;
    padding-bottom: 50px;
}

.skills-container{
    display: grid;
    gap:180px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.skills-images{
    width: 50px;
    height: 57px;
}

.main{
    margin: 110px 0 0 0;
}

.project-description{
    background-color: #1c1c1c;
    width: 590px;
}

.projects-shown{
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    height: auto;
}

.first-project, .second-project{
    position: relative;
}

.projects-images{
    width: 590px;
    height: 330px;
}

.technologies-used{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 86%;
    right: 80%
}

.project-technologies{
    width: 40px;
    height: 40px;
}

.project-info{
    margin: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.third-title{
    font-size: 24px;
}

.project-links{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    gap: 20px;
    margin-top: auto;
}

.project-link-url{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #6D6DFF;
}

.project-info-images{
    width: 20px;
    height: 20px;
}

.project-info-links{
    font-size: 16px;
    opacity: 60%;
    display: flex;
    align-items: center;
    gap: 10px ;
}